@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";

.container {
  width: 1650px;
  margin: auto;
}
#content {
  padding: 40px 20px;
}
